main {
    margin: auto;
    width: 100%;
    max-width: 910px;
}

.terminal {
    max-width: 28rem;
    width: 100%;
    height: 20rem;
    background-color: rgb(37, 33, 68);
    border: 2px solid rgb(20, 17, 46);
    border-radius: 0.1rem;
    overflow: auto;
    resize: both;
    display: inline-block;
}

#rpg-customizator {
    max-width: 56.5rem;
    width: 100%;
    min-height: 20rem;
    background-color: rgb(37, 33, 68);
    border: 2px solid rgb(20, 17, 46);
    border-radius: 0.1rem;
    display: inline-block;
    margin-bottom: 1rem;
}

form {
    display: block;
}

h4#rpg-title{
    text-align: center;
    color: rgb(165, 113, 207);
    background-color: rgb(20, 17, 46);
    padding: 0.5rem 0rem;
    margin: 0rem;
    position: absolute;
    display: block;
    width: inherit;
    max-width: 56.7rem;
}

div.formflex{
    display: block;
    margin: 0rem;
    margin-top: 3rem;
    text-align: center;
}

div.formflex div {
    display: inline-block;
    margin: 0rem 0.25rem;
    max-width: 17rem;
}

div.formflex div label {
    color: #71f756;
    font-weight: bolder;
    display: block;
    padding-top: 0.3rem;
    height: 1.5rem;
    background-color: rgb(20, 17, 46);
    border: 2px solid rgb(20, 17, 46);
    border-radius: 0.1rem;
}

div.formflex div input[type="text"]{
    color:#71f756;
    background-color: rgb(37, 33, 68);
    border: 2px solid rgb(20, 17, 46);
}

div.formflex div select {
    color: rgb(37, 33, 68);
    background-color: rgb(165, 113, 207);
    border: 2px solid rgb(165, 113, 207);
    height: 2rem !important;
}

div.formflex div button {
    color: rgb(37, 33, 68);
    background-color: rgb(165, 113, 207);
    border: 2px solid rgb(165, 113, 207);
    height: 2rem !important;
}

div.formflex div button, select, label, input[type="text"] {
    width: 100%;
    height: 1.6rem;
    margin: 1rem auto;
    border-radius: 0.1rem;
}

h4#term-title{
    text-align: center;
    color: rgb(165, 113, 207);
    background-color: rgb(20, 17, 46);
    padding: 0.5rem 0rem;
    margin: 0rem;
    position: absolute;
    display: block;
    width: inherit;
    max-width: 28rem;
}

h4#term-btns{
    text-align: center;
    color: rgb(165, 113, 207);
    background-color: rgb(20, 17, 46);
    padding: 0.5rem 0rem;
    margin: 0rem;
    display: block;
    width: inherit;
    max-width: 28rem;
    border-bottom-left-radius: 0.1rem;
    border-bottom-right-radius: 0.1rem;
    border: 2px solid rgb(20, 17, 46);
}

h4#term-btns button{
    width: initial;
}

h4#stats-title{
    text-align: center;
    color: rgb(165, 113, 207);
    background-color: rgb(20, 17, 46);
    padding: 0.5rem 0rem;
    margin: 0rem;
}

div#battle-sim {
    margin: 0.5rem;
}

div#simulation-stats {
    overflow: auto !important;
}

div#p1-Stats, div#p2-Stats{
    width: auto;
    height: 6rem;
    background-color: rgb(37, 33, 68);
    border: 2px solid rgb(20, 17, 46);
    border-radius: 0.1rem;
    color: white;
    margin: auto;
    padding: 0.5rem;
    display: block;
    margin: 0rem 0.5rem;
}

div.flex {
    display: flex;
}

div.flex div{
    margin: 0.25rem auto;
}

div.flex div li {
    list-style: none;
    display: inline-block;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.name {
    color: rgb(165, 113, 207);
}

.race{
    color: #00e7ff;
}


.hp {
    color: #71f756;
}

.attack {
    color: #fb1777;
}

.lvl {
    color: #ffff3c;
}

.xp {
    color: #ffff3c;
}

#ranking-table{
    width: inherit;
}

#ranking-table thead {
    text-align: center;
    color: rgb(165, 113, 207);
    background-color: rgb(32, 28, 56);
    padding: 0.5rem 0rem;
    margin: 2.1rem -0.1rem;
    position: absolute;
    display: block;
    width: inherit;
    max-width: 28rem;
}

#ranking-table thead th {
    width: 1%;
}

#ranking-table tbody td {
    width: 1%;
}

#ranking-list {
    margin-top: 5.5rem;
    display: block;
    width: 100%;
    text-align: center;
}

@media (max-width: 448px){
    #term-title{
        max-width: 92% !important;
    }
    #term-btns{
        max-width: 92% !important;
    }
    h4#rpg-title{
        max-width: 92% !important;
    }
    #ranking-table thead{
        max-width: 92% !important;
    }
}